# Global parameters
name = Ambushing Bat


tile = 157
talkresponse = Your words only allow the bat to find you more easily.
lookresponse = You see an Ambushing Bat.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 62
range = 1.5
