# Global parameters
name = Baby Dragon


tile = 48
talkresponse = Baby Dragon: "Roar!"
lookresponse = You see a baby green dragon.
attackpower = 4
attackdamage = 4
speed = 4
hitpoints = 8
armor = 2
attitude = 1
ai = 2
type = 8
range = 1.5