# Global parameters
name = Cerulean Blob


tile = 56
talkresponse = Cerulean Blob: "Blurp."
lookresponse = You see a Cerulean Blob.
attackpower = 4
attackdamage = 10
speed = 8
hitpoints = 8
armor = 4
attitude = 0
ai = 2
type = 16
range = 1.5
