# Global parameters
name = Slornite Mage


tile = 58
talkresponse = Slornite Mage: "Your power is nothing compared to me."
lookresponse = You see a Slornite Mage.
attackpower = 12
attackdamage = 8
speed = 8
hitpoints = 4
armor = 0
attitude = 0
ai = 2
type = 18
range = 4
