# Global parameters
name = Clattering Skeleton


tile = 154
talkresponse = The skeleton slowly turns its head towards you...
lookresponse = You see a Clattering Skeleton.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 59
range = 1.5
