# Global parameters
name = Slornite Cleric


tile = 52
talkresponse = Slornite Cleric: "My god demands your death."
lookresponse = You see a Slornite Cleric.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 0
ai = 2
type = 12
range = 1.5
