# Global parameters
name = Crystal Golem


tile = 61
talkresponse = You hear the chime of crystal.
lookresponse = You see a Crystal Golem.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 0
ai = 2
type = 21
range = 1.5
