# Global parameters
name = Green Dragon
tile = 49
lookresponse = You see a huge green dragon.
talkresponse = Dragon: "You will taste exquisite roasted and lightly seasoned with nutmeg."
attackpower = 32
attackdamage = 32
speed = 8
hitpoints = 32
armor = 10
attitude = 0
ai = 1
type = 9
range = 4