# Global parameters
name = Emerald Child


tile = 40
lookresponse = You see a small child.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 25
range = 1.5
numberoftalks = 3
talk0 = Child: "Mommy and Daddy seem worried."
talk1 = Child: "I hate the Slorn!  I'm going to join the army when I grow up."
talk2 = Child: "With me on guard, Mommy and Daddy will never have to worry again."