# Global parameters
name = Emerald Dancing Girl


tile = 44
lookresponse = You see a dancing girl.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 1
type = 70
range = 1.5
numberoftalks = 2
talk0 = Dancing Girl: "Welcome to the Dance Party!"
talk1 = Dancing Girl: "No more dancing?  Very well..."  (She seems a little miffed.)