# Global parameters
name = Emerald Shepherdess


tile = 44
lookresponse = You see a shepherdess.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 1
type = 27
range = 1.5
numberoftalks = 4
talk0 = Shepherdess: "We're all worried about the Slorn army, but there's nothing we can do."
talk1 = Shepherdess: "They have already taken Ruby and Sapphire."
talk2 = Shepherdess: "If the King's Army cannot protect us, then what use are they?"
talk3 = Shepherdess: "Plus there's that dungeon to the south...as if things weren't bad enough..."


