# Global parameters
name = Emerald Farmer


tile = 41
lookresponse = You see a farmer.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 1
type = 26
range = 1.5
numberoftalks = 3
talk0 = Farmer: "I hope we live to harvest these crops."
talk1 = Farmer: "Emerald can still survive for now..."
talk2 = Farmer: "But if the last front falls it will all be over."