# Global     parameters
name = Emerald Guard


tile = 98
lookresponse = You see a guard.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 28
range = 1.5
numberoftalks = 3
talk0 = Guard: "Welcome to Emerald, the last free city of Inaria."
talk1 = Guard: "We take our job here VERY seriously."
talk2 = Guard: "I'd stay out of trouble if I were you."