# Global Parameters
name = Emerald Leader


tile = 98
lookresponse = You see the leader of Emerald.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 30
range = 1.5
numberoftalks = 3
talk0 = Noble Kale: "We've done our part to try to keep Inaria free."
talk1 = Noble Kale: "Most of our men have become soldiers or guards."
talk2 = Noble Kale: "We send the last front as much as we can spare."