# Global parameters
name = Emerald Wandering Merchant


tile = 42
lookresponse = You see a wandering merchant.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 1
type = 32
range = 1.5
numberoftalks = 3
talk0 = Merchant: "I'm stuck here until this blows over."
talk1 = Merchant: "I normally travel but obviously I can't now."
talk2 = Merchant: "And there's already a merchant here, so I can't set up a stall."