# Global parameters
name = Slornite Fighter


tile = 59
talkresponse = Slornite Fighter: "The blood on my sword is almost dry..."
lookresponse = You see a Slornite Fighter.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 19
range = 1.5
