# Global parameters
name = Firebird


tile = 50
talkresponse = The Firebird looks at you strangely.
lookresponse = You see a brilliant Firebird.
attackpower = 5
attackdamage = 6
speed = 8
hitpoints = 16
armor = 0
attitude = 1
ai = 1
type = 10
range = 5
