# Global parameters
name = Fleshborer


tile = 155
talkresponse = The fleshborer darts in, trying to sever a finger.
lookresponse = You see a Fleshborer.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 60
range = 1.5
