# Global parameters
name = Poisonous Froad


tile = 63
talkresponse = Poisonous Froad: "Ribbit."
lookresponse = You see a Poisonous Froad.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 0
ai = 2
type = 23
range = 4
