# Global parameters
name = Gazer


tile = 51
talkresponse = The air seems to hum as the gazer approaches.
lookresponse = You really want to look at a Gazer?
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 0
ai = 2
type = 11
range = 3
