# Global parameters
name = Hand of Death


tile = 62
talkresponse = Hand of Death: "You cannot fight your fate."
lookresponse = You see the Hand of Death.
attackpower = 16
attackdamage = 16
speed = 8
hitpoints = 16
armor = 0
attitude = 0
ai = 2
type = 22
range = 1.5
