# Global parameters
name = Lightning Golem


tile = 60
talkresponse = You hear the crackle of lightning.
lookresponse = You see a Lightning Golem.
attackpower = 12
attackdamage = 4
speed = 8
hitpoints = 4
armor = 5
attitude = 0
ai = 2
type = 20
range = 3
