# Global parameters
name = Mendikar the MadMaker


tile = 153
lookresponse = You see a wraith.  The aura of madness around him is overwhelming.
attackpower = 128
attackdamage = 64
speed = 8
hitpoints = 128
armor = 32
attitude = 0
ai = 2
range = 5
type = 58
numberoftalks = 7
talk0 = Mendikar the MadMaker: "You will share my madness soon!"
talk1 = Mendikar the MadMaker: "If I cannot find peace then no one shall!"
talk2 = Mendikar the MadMaker: "Suffer!  Suffer forever, as I have!"
talk3 = Mendikar the MadMaker: "My sins in life were great, but my madness in death is greater!"
talk4 = Mendikar the MadMaker: "Just let me touch you...it won't hurt, I promise."
talk5 = Mendikar the MadMaker: "There is no such thing as sanity! Only deluded fools believe otherwise!"
talk6 = Mendikar the MadMaker: "Believe me...this is the only way."
