# Global parameters
name = Mind Thresher


tile = 159
talkresponse = You feel a sharp pain behind your eyes.
lookresponse = You feel a sharp pain behind your eyes.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 64
range = 1.5
numberoftalks = 7
talk0 = You see the King of Inaria.
talk1 = You smell herring.
talk2 = You can't remember your mother's face.
talk3 = You feel your weapon slip out of your hands.
talk4 = You suddenly realize your head is on backwards.
talk5 = You see a glowing golden light, and want to step into it.
talk6 = You hear a voice say, "Roll a d6."