# Global parameters
name = Mother Green Dragon


tile = 49
lookresponse = You see a huge female green dragon.
attackpower = 32
attackdamage = 32
speed = 8
hitpoints = 32
armor = 10
attitude = 1
ai = 1
type = 71
numberoftalks = 11
range = 4
talk0 = Mother Dragon: "Have you seen my whelp?  He has gone wayward and I cannot find him."
talk1 = Mother Dragon: "I will spare you if you will help me look for him."
talk2 = Mother Dragon: "Bring him to me and I will reward you."
talk3 = Mother Dragon: "I smell the blood of my whelp on your weapon!  Now you die!"
talk4 = Mother Dragon: "You are merciful to have brought my child back to me."
talk5 = Mother Dragon: "I will reward you with this knowledge."
talk6 = Mother Dragon: "The Slorn King is not your true enemy."
talk7 = Mother Dragon: "No, the true power lies behind the throne."
talk8 = Mother Dragon: "Do not trust any of the others of my kind."
talk9 = Mother Dragon: "They have thrown their lot in with the Evil One..."
talk10 = Mother Dragon: "...and banished me here when I would not do the same."