# Global parameters
name = Carnivorous Mushroom


tile = 57
talkresponse = The mushroom belches a toxic cloud.
lookresponse = You see a Carnivorous Mushroom.
attackpower = 16
attackdamage = 8
speed = 8
hitpoints = 2
armor = 0
attitude = 0
ai = 0
type = 17
range = 3
