# Global parameters
name = Oubliette Palsied Woman


tile = 162
lookresponse = You see a dirty woman who appears to have contracted some kind of disease.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 1
ai = 2
type = 67
range = 1.5
numberoftalks = 13
talk0 = Woman:  "Are...are you real?  Or is my mind playing tricks again?"
talk1 = Woman:  "If you're quiet you can avoid the undead...but...there's something else down here."
talk2 = Woman:  "Every day I feel weaker...less like myself..."
talk3 = Woman:  "When I sleep, I dream of doing terrible things to people..."
talk4 = Woman:  "There's something down here!  Please, you must kill it!"
talk5 = Woman:  "I'm sick...and half-mad...but maybe if you kill...IT...I'll be okay."
talk6 = Woman:  "I'll follow you...please help me find a way out."
talk7 = Woman:  "You led me here!  You traitor!  You led me here so he could eat me!"
talk8 = Woman:  "He's the one driving me mad, and you brought me right to him!"
talk9 = Woman:  "If I'm going to become some horrible insane creature, I'll at least take you with me!"
talk10 = Woman:  "I'm so sorry...I couldn't think straight..."
talk11 = Woman:  "I didn't mean to hurt you...he made me do it..."
talk12 = Woman:  "I'm too weak now.  There's no hope.  But at least I'll die...with my own mind..."