# Global parameters
name = Oubliette Insane Man


tile = 161
lookresponse = You see a dirty, distressed man.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 1
ai = 0
type = 66
range = 1.5
numberoftalks = 7
talk0 = Man:  "Welcome to the Oubliette."
talk1 = Man:  "What's an Oubliette?  It's a place the Slorn King puts people to forget about them."
talk2 = Man:  "There's a little light from above here, and mushrooms grow.  We can stay here and survive."
talk3 = Man:  "Don't leave!  No one who has left has ever come back!"
talk4 = Man:  "I hear...noises from the back rooms.  Don't go!  You'll just die!"
talk5 = Man:  "Oh, I see.  You think I'm a coward for staying here instead of looking for a way out!"
talk6 = Man:  "Well, when you're festering puddle of goo I'll still be alive!"