# Global parameters
name = Quetz


tile = 54
talkresponse = The Quetz hisses at you.
lookresponse = You see a Quetz.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 10
armor = 2
attitude = 0
ai = 2
type = 14
range = 1.5
