# Global parameters
name = Red Right Hand


tile = 164
talkresponse = Red Right Hand: "You're one microscopic cog in my catastrophic plan."
lookresponse = You see a Red Right Hand.
attackpower = 16
attackdamage = 16
speed = 8
hitpoints = 16
armor = 0
attitude = 0
ai = 2
type = 68
range = 1.5
