# Global parameters
name = Rodent of Unusual Size

tile = 160
talkresponse = Rodent of Unusual Size: "HISSSSSSSSSSSSS!"
lookresponse = You see a Rodent of Unusual Size.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 65
range = 1.5
