# Global parameters
name = Ruby Miner


tile = 43
lookresponse = You see a miner.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 54
range = 1.5
numberoftalks = 3
talk0 = Miner: "Well, Ruby just used to be the name of the town, but now it really fits."
talk1 = Miner: "This cave has a seam of gemstones running through it - incredibly valuable."
talk2 = Miner: "Of course, we've got nothing we can buy with them..."