# Global Parameters
name = Ruby Enchanter

tile = 99
lookresponse = You see an enchanter.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 50
range = 1.5
talk = Enchanter: "The art of enchanting is not lost.  I can help make your weaposn and armor more powerful."