# Global parameters
name = Ruby Child


tile = 40
lookresponse = You see a small child.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
range = 1.5
type = 47
numberoftalks = 3
talk0 = Child: "My mom and dad farm mushrooms in this cave."
talk1 = Child: "They are very important people.  Without them we'd probably all starve!"
talk2 = Child: "I am getting sick of the taste of mushrooms, though..."
