# Global Parameters
name = Ruby Healer


tile = 99
lookresponse = You see a healer.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 50
range = 1.5
numberoftalks = 5
talk0 = Healer: "I can heal your wounds and replenish your mana."
talk1 = Healer: "If you talk to the soldier, try not to get him too worked up."
talk2 = Healer: "Most of what he says seems to be exaggerated."
talk3 = Healer: "But the volcano erupted and wiped out all our forward defenses just before the attack..."
talk4 = Healer: "...almost as if it were helping the Slorn."
