# Global Parameters
name = Ruby Leader


tile = 98
lookresponse = You see the leader of Ruby.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 52
range = 1.5
numberoftalks = 4
talk0 = Leader: "Welcome to Ruby."
talk1 = Leader: "Or rather, welcome to the cave the citizens of Ruby fled to when the town burned to the ground."
talk2 = Leader: "Fortunately, the Slorn have not found us here yet."
talk3 = Leader: "We've seen nearby patrols, though.  It's just a matter of time."