# Global parameters
name = Ruby Wandering Merchant


tile = 42
lookresponse = You see an injured merchant.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 55
numberoftalks = 4
range = 1.5
talk0 = Injured Merchant: "I knew trying to set up a trade route between Ruby and Sapphire was a bad idea!"
talk1 = Injured Merchant: "But I'd have made so much coin if I could have done it..."
talk2 = Injured Merchant: "Both towns are desperate for what the other can provide."
talk3 = Injured Merchant: "Everything was going fine...until a damn mushroom nearly bit my leg off."