# Global parameters
name = Ruby Insane Soldier


tile = 98
lookresponse = You see an insane soldier.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 51
range = 1.5
numberoftalks = 4
talk0 = Insane Soldier: "I saw him!  His eyes were red!  His face twisted with hate!"
talk1 = Insane Soldier: "He rode a fiery chariot that burned whoever it touched!"
talk2 = Insane Soldier: "His minions attacked without mercy!  Only I was left alive."
talk3 = Insane Soldier: "Why?  I don't know.  Why didn't they kill me too?"
