# Global parameters
name = Ruby Mushroom Farmer


tile = 41
lookresponse = You see a mushroom farmer.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
range = 1.5
type = 48
numberoftalks = 4
talk0 = Mushroom Farmer: "Mushroom hash, mushroom stew, mushroom broth, mushroom brew..."
talk1 = Mushroom Farmer: "Mushroom tea, mushroom shake, mushroom salad, mushroom cake..."
talk2 = Mushroom Farmer: "Mushroom breakfast, mushroom lunch, mushroom dinner, mushroom brunch!"
talk3 = Mushroom Farmer: "What I wouldn't give for a steak..."
