# Global parameters
name = Ruby Merchant


tile = 42
talkresponse = Merchant: "You look like you need something."
lookresponse = You see a clever merchant.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 53
range = 1.5
