# Global parameters
name = Ruby Farmer's Wife


tile = 44
lookresponse = You see a mushroom farmer.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
range = 1.5
type = 49
numberoftalks = 3
talk0 = Farmer's Wife: "'Mushroom that, mushroom this', if I eat another mushroom I'll probably be sick!"
talk1 = Farmer's Wife: "But my husband did find a way to feed us after the town was destroyed..."
talk2 = Farmer's Wife: "I'm proud of him.  But don't tell him I said so.  I don't want to eat mushrooms for the rest of my life!"
