# Global parameters
name = Sapphire Child


tile = 40
lookresponse = You see a small child.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 1
type = 38
numberoftalks = 3
range = 1.5
talk0 = Child: "My momma told me not to talk to strangers..."
talk1 = Child: "But you're not a Slorn and there's no one else to talk to."
talk2 = Child: "I like to hide in the cave to cool off...but I never go too far in.  I heard that there are evil mushrooms in there!"