# Global parameters
name = Sapphire Fisherman


tile = 41
lookresponse = You see a fisherman.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 39
numberoftalks = 4
range = 1.5
talk0 = Fisherman: "They burned all our boats, so all we can do is line fish."
talk1 = Fisherman: "It barely brings in enough to feed us."
talk2 = Fisherman: "Fortunately there are mushrooms in that ca- uh..."
talk3 = Fisherman: "Never mind.  Forget I said that."