# Global parameters
name = Sapphire Fisherwoman


tile = 44
lookresponse = You see a fisherwoman.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 40
range = 1.5
numberoftalks = 4
talk0 = Fisherwoman: "We all have to fish all day every day just to eat."
talk1 = Fisherwoman: "But the Slorn don't know that we have another food supply."
talk2 = Fisherwoman: "There's an underwater cave here in town.  It leads to the next continent."
talk3 = Fisherwoman: "We'd use it to escape, but it's inhabited by fierce monsters."