# Global Parameters
name = Sapphire Leader


tile = 98
lookresponse = You see the leader of Sapphire.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 42
range = 1.5
numberoftalks = 6
talk0 = Sapphire Leader: "Welcome to the occupied city of Sapphire."
talk1 = Sapphire Leader: "This city fell to the Slorn months ago.  To our surprise, they did not put all of us to the sword..."
talk2 = Sapphire Leader: "Just all our able-bodied men."
talk3 = Sapphire Leader: "If you're travelling to Ruby...well, normally you'd take a boat from here."
talk4 = Sapphire Leader: "But the Slorn burned them all."
talk5 = Sapphire Leader: "There might be another way, though.  Talk to the people here."
