# Global parameters
name = Sapphire Slorn Guard 2


tile = 59
lookresponse = You see a Slorn guard.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 44
numberoftalks = 4
range = 1.5
talk0 = Slorn Guard: "This town is under the protection of the Slorn, hunam."
talk1 = Slorn Guard: "As long as the citizens pay their taxes they may continue with their lives."
talk2 = Slorn Guard: "Should they ever not be able to pay, though..."
talk3 = (The Slorn Guard grins evilly.)
