# Global parameters
name = Sapphire Slorn Guard 1


tile = 59
lookresponse = You see a Slorn guard.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 45
range = 1.5
numberoftalks = 4
talk0 = Slorn Guard: "This town is under the protection of yada yada yada."
talk1 = Slorn Guard: "Look, we're in charge here.  You make a ruckus, we kill you."
talk2 = Slorn Guard: "And probably some of the townspeople, too.  Think about that."
talk3 = Slorn Guard: "(Man, who did I tick off to pull this duty?  Watching over a bunch of water hippies...)"
