# Global parameters
name = Sapphire Wandering Merchant


tile = 42
lookresponse = You see a wandering merchant.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 1
type = 46
range = 1.5
numberoftalks = 4
talk0 = Travelling Merchant: "Normally I'd be able to sell you something."
talk1 = Travelling Merchant: "But I'm stuck here like everybody else, and the mayor asked me to use my goods to pay the taxes."
talk2 = Travelling Merchant: "It hurts me to have to give away my goods for free to the Slorn...but what choice do I have?"
talk3 = Travelling Merchant: "I hope we find a way to defeat them soon.  I'm running out of stuff."
