# Global parameters
name = Skittering Scorpion


tile = 152
talkresponse = The Skittering Scorpion skitters towards you, pincers ready.
lookresponse = You see a Skittering Scorpion.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 57
range = 1.5
