# Global parameters
name = Slornite King


tile = 55
talkresponse = Slornite King: "Your land, your goods, your souls - all mine!"
lookresponse = You see the King of the Slornites.
attackpower = 64
attackdamage = 32
speed = 8
hitpoints = 12
armor = 10
attitude = 0
ai = 2
type = 15
range = 1.5