# Global parameters
name = Spewing Slime


tile = 158
talkresponse = The slime spews...more slime in your general direction.
lookresponse = You see a Spewing Slime.
attackpower = 10
attackdamage = 8
speed = 8
hitpoints = 16
armor = 4
attitude = 0
ai = 2
type = 63
range = 1.5
