# Global parameters
name = Spitting Asp


tile = 156
talkresponse = The asp hisses at you, as if daring you to come closer.
lookresponse = You see a Spitting Asp.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 0
ai = 2
type = 61
range = 4
