# Global parameters
name = Slornite Thief


tile = 53
talkresponse = Slornite Thief: "I'll steal your life!"
lookresponse = You see a Slornite Thief.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 2
attitude = 0
ai = 2
type = 13
range = 3
