# Global parameters
name = The Last Front Guard 1


tile = 98
lookresponse = You see a guard.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 33
range = 1.5
numberoftalks = 5
talk0 = Forward Guard: "The army retreated when they couldn't take the castle."
talk1 = Forward Guard: "We know they'll be back, though."
talk2 = Forward Guard: "If they make it through the wall, it's all over."
talk3 = Forward Guard: "The town of Sapphire is to the west, but it's been taken by the Slorn."
talk4 = Forward Guard: "As for Ruby...best not to think about it."
