# Global parameters
name = Last Front Archer


tile = 165
lookresponse = You see a guard.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
type = 34
range = 4
numberoftalks = 5
talk0 = Forward Guard: "After the last attack on the castle, we pulled down every rock we could to create this forward wall."
talk1 = Forward Guard: "The king now rules over a pile of rubble."
talk2 = Forward Guard: "He sacrificed his home to give us a chance to survive."
talk3 = Forward Guard: "There are dungeons to the northwest and southwest."
talk4 = Forward Guard: "It is said that great magic and power will come to any who can survive them."
