# Global parameters
name = Last Front Healer


tile = 99
lookresponse = You see a healer.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
numberoftalks = 4
range = 10
type = 35
talk0 = Healer: "So far, I've been able to keep my boys alive."
talk1 = Healer: "It's always hard to lose a patient, especially one you know personally."
talk2 = Healer: "I'm aware that during the next attack I'll be a primary target."
talk3 = Healer: "Come back any time you need healing."
