# Global parameters
name = Inarian King


tile = 45
lookresponse = You see the noble ruler of Inaria.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
numberoftalks = 13
range = 1.5
type = 36
talk0 = King Gianfranco: "Welcome.  I sense a courageous soul within you."
talk1 = King Gianfranco: "The Slorn have attacked all of Inaria."
talk2 = King Gianfranco: "Only this castle and Emerald have not fallen into their hands."
talk3 = King Gianfranco: "They have retreated to regroup, but they will be back."
talk4 = King Gianfranco: "I believe there is another way to defeat the Slorn...kill the Slorn King."
talk5 = King Gianfranco: "With him dead, the generals will start fighting over his position."
talk6 = King Gianfranco: "It may not save Inaria, but it should give us a chance..."
talk7 = King Gianfranco: "I know this is a tough task...but we all know we won't withstand their next attack."
talk8 = King Gianfranco: "The Slorn King is dead!  A tough task indeed!"
talk9 = King Gianfranco: "Truly you are a great hero."
talk10 = King Gianfranco: "And yet...I sense something left undone...and Inaria is still under threat from the Slorn."
talk11 = King Gianfranco: "In any event, you have done what I asked, and I shall reward you."
talk12 = King Gianfranco gives you 500 coins!
