# Global parameters
name = The Last Front Rear Guard


tile = 98
lookresponse = You see a guard.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
numberoftalks = 6
range = 1.5
type = 37
talk0 = Rear Guard: "Welcome to the Last Front."
talk1 = Rear Guard: "This castle is the only thing keeping the Slorn from conquering all of Inaria."
talk2 = Rear Guard: "It's good to see you.  Hope you're here to join the fight."
talk3 = Rear Guard: "You look able-bodied.  Pick up a sword and join us!"
talk4 = Rear Guard: "If you don't feel you're ready, try the dungeon south of Emerald."
talk5 = Rear Guard: "You can become stronger...and might even find a magic City."
