# Global parameters
name = Triumphant Inarian King


tile = 45
lookresponse = You see the noble ruler of Inaria.
attackpower = 8
attackdamage = 8
speed = 8
hitpoints = 8
armor = 0
attitude = 1
ai = 0
numberoftalks = 6
range = 1.5
type = 69
talk0 = King Gianfranco: "You've done it!  I can barely believe it!"
talk1 = King Gianfranco: "The Slorn are no longer any threat, and all of Inaria can be restored."
talk2 = King Gianfranco: "For your bravery and intelligence I hereby name you my heir!"
talk3 = King Gianfranco: "Work on rebuilding my castle has already begun..."
talk4 = King Gianfranco: "And I do believe there's something going on in Emerald that you may wish to see.."
talk5 = King Gianfranco: "In any event, you have our deepest gratitude, and should you ever need anything of us, simply name it."
