# Global parameters
name = The Evil One


tile = 105
lookresponse = You see an ancient, undead dragon.
attackpower = 128
attackdamage = 64
speed = 8
hitpoints = 128
armor = 32
attitude = 1
ai = 0
range = 4
type = 56
numberoftalks = 25
talk0 = The Evil One: "So. You killed my minion."
talk1 = The Evil One: "It must have been that green female we banished who told you how to find me."
talk2 = The Evil One: "But the war is not lost yet.  I can make myself a new champion who can complete my mission."
talk3 = The Evil One: "You are the most obvious candidate, of course."
talk4 = The Evil One: "Now, listen to my offer before you reject it out of hand."
talk5 = The Evil One: "You are obviously stronger than the Slorn King was."
talk6 = The Evil One: "And your task will be much easier - just one small castle and town to conquer."
talk7 = The Evil One: "And once you do, Inaria will be yours to rule...in my name, of course."
talk8 = The Evil One: "Why not do it myself?  Well...in my current condition I cannot leave the volcano."
talk9 = The Evil One: "But no matter.  Just step into this magic field."
talk10 = The Evil One: "It will allow me to transform you into my new champion and then all Inaria can be yours."
talk11 = The Evil One: "Obviously, there's no way you can defeat me, so the choice is either servitude or death."
talk12 = The Evil One: "I swear, you are the most foolish mortal I have ever seen."
talk13 = The Evil One: "You think you can kill me?  How do you kill that which has no life?"
talk14 = The Evil One: "You WILL serve me!  You'll make a fine skeleton after your death!"
talk15 = The Evil One: "This world is mine!  My past failures mean nothing!"
talk16 = The Evil One: "All things must obey me!"
talk17 = The Evil One: "Why haven't you DIED yet?!"
talk18 = The Evil One: "I traded my soul for life eternal and power overwhelming!"
talk19 = The Evil One: "Your pitiful attacks cannot harm me!"
talk20 = The Evil One: "You cannot stop me!  None can!"
talk21 = The Evil One: "WHY WON'T YOU DIE?!"
talk22 = The Evil One: "No...I must escape...but I cannot leave the volcano!"
talk23 = The Evil One: "I thought I was powerful...I thought I was immortal..."
talk24 = The Evil One: "Could my mate...have been right...all along?"
talk25 = The Evil One: "I love how that trick keeps working.  I have never gone wrong by tempting a human with power."