# Global parameters
name = Chain Armor
tile = 25
lookresponse = You see Chain Armor.
City = 1

str = 0
int = 0
wil = 0
end = 0
dex = 0
   
armor = 4
damage = 0

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 1
passable = 1
equippable = 2
pickupable = 1
stackable = 0