# Global parameters
name = Lightning Field
tile = 122
lookresponse = You see a Lightning Field.
City = 21

str = 0
int = 0
wil = 0
end = 0
dex = 0
   
armor = 0
damage = 1.5

targetx = 0
targety = 0

bashable = 0
pickable = 1
dispellable = 1
hasrandomstats = 0
passable = 0
equippable = 0
pickupable = 0
stackable = 0