# Global parameters
name = Health Potion
tile = 69
lookresponse = You see a Health Potion.
City = 19

str = 0
int = 0
wil = 0
end = 0
dex = 0

armor = 0   
damage = 0

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 0
passable = 1
equippable = 0
pickupable = 1
stackable = 1