# Global parameters
name = Leather Armor
tile = 24
lookresponse = You see Leather Armor.
City = 0

str = 0
int = 0
wil = 0
end = 0
dex = 0

armor = 2
damage = 0

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 1
passable = 1
equippable = 2
pickupable = 1
stackable = 0