# Global parameters
name = Sol's Sword of Wisdom
tile = 35
lookresponse = You see Sol's Sword of Wisdom.
City = 11

str = 0
int = 6
wil = 2
end = 0
dex = 0
   
armor = 0
damage = 10

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 0
passable = 1
equippable = 1
pickupable = 1
stackable = 0