# Global parameters
name = Magic Ring
tile = 120
lookresponse = You see a Magic Ring.
City = 23

str = 0
int = 0
wil = 0
end = 0
dex = 0
   
armor = 0
damage = 0

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 1
passable = 1
equippable = 3
pickupable = 1
stackable = 0