# Global parameters
name = Sleep Field
tile = 128
lookresponse = You see a Sleep Field.
City = 7

str = 0
int = 0
wil = 0
end = 0
dex = 0
   
armor = 0
damage = 1.5

targetx = 0
targety = 0

bashable = 0
pickable = 1
dispellable = 1
hasrandomstats = 0
passable = 1
equippable = 0
pickupable = 0
stackable = 0