# Global parameters
name = Sword
tile = 34
lookresponse = You see a Sword.
City = 10

str = 0
int = 0
wil = 0
end = 0
dex = 0
   
armor = 0
damage = 3

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 1
passable = 1
equippable = 1
pickupable = 1
stackable = 0
