# Global parameters
name = Transformation Field
tile = 163
lookresponse = You see a Transformation Field.
City = 25

str = 0
int = 0
wil = 0
end = 0
dex = 0
   
armor = 0
damage = 1.5

targetx = 0
targety = 0

bashable = 0
pickable = 0
dispellable = 0
hasrandomstats = 0
passable = 1
equippable = 0
pickupable = 0
stackable = 0